{% extends "base.html" %}

{% block movies %}

<li id="nav-code">
	<a href="movies" style="color:yellow;background:#092e20 url(https://www.djangoproject.com/m/img/site/nav_bg.gif) bottom repeat-x;text-decoration: none;">Movies</a>
</li>

{% endblock %}

{% block content %}

{% if common_movies %}

	{% for movie in common_movies %}
        	
		<table cellpadding="10" border="0" height="150" id="interest" align="center">
                	<tr height="70%" align="center">
                        	<td align="center">
                                	<img align="center" height="80" width="80" src="{{ movie.picture }}"></img>
                                </td>
                        </tr>
                        <tr height="30%" align="center">
                        	<td align="center">
                                        <a href="{{ movie.link }}">{{ movie.name }}</a>
					<br>
                                </td>
                        </tr>
                 </table>

        {% endfor %}

{% endif  %}

{% endblock %}
